.title {
    height: 100px;
}

.button {
    width: 75px;
    margin: 10px;
    cursor: pointer;
}

#pokemon {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 30px;
}

.poke {
    width: 250px;
    height: 250px;
}